.section {
	background-color: yellow;
	width: 30%;
	height: 400px;
	color: "black";
	border-radius: 10px;
	float: left;
	padding: 10px;
	margin: 10px;
	margin-top: 70px;
	text-align: center;
	vertical-align: center;
}

.extensions {
	margin-top: 10%;
	background-color: #ffff77;
	width: 15%;
	color: "black";
//	padding: 10px;
	float: none;
	position: fixed;
	text-align: center;
	vertical-align: center;
}

.category {
	background-color: yellow;
	color: black;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
}

.subcategory {
	background-color: #ffff77;
	padding: 0px;
}

.content {
	float: left;
	background-color: #ffff77;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-left: 35%;
	margin-top: 10%;
}

.task {
	background-color: #FFFF77;
	width: 80%;
	height: 75%;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
	margin-left: 10%;
}

textarea {
	vertical-align: center;
	background-color: #FFFFBB;
	width: 80%;
	height: 75%;
	margin-top: 10%;
}

footer {
	background-color: #ffff77;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
	position: fixed;
	padding: 10px;
}

header {
	background-color: #ffff77;
	width: 100%;
	position: fixed;
}

.login {
	vertical-align: center;
	text-align: right;
	width: 10%;
	float: right;
	margin-top: 30px;
	margin-right: 40px;
	position: relative;
}

h1 {
	text-align: left;
	vertical-align: center;
	float: left;
}

body {
	background-color: #FFFFCC;
	//background-image: url(design/background.jpg);
	background-repeat: repeat;
	background-position: top left;
	font-family: Architects-Daughter, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

#save {
	text-align: center;
	left: 50%;
	float: none;
}

#button {
	padding: 10px;
	margin-top: 20px;
}

#message p {
	text-align: center;
	margin-top: 10px;
}

@font-face {
    font-family: Architects-Daughter;
    src: url(design/architects-daughter/ArchitectsDaughter.ttf)
}
